<!--
  Generated template for the People page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>People</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="about">
  <ion-searchbar (ionInput)="search($event)" placeholder="Search with username">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding 
      *ngFor="let user of users | async" [hidden]="isThisUser(user?.$key)"
      #itemSliding>
      <ion-item text-wrap>
        <ion-avatar item-left>
          <img *ngIf="user?.avatar" [src]="user?.avatar">
        </ion-avatar>
        <h2>{{(user)?.username}}</h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="userProfile(user, itemSliding)">
          <ion-icon name="person"></ion-icon>
          Profile
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="secondary">
          <ion-icon name="person-add"></ion-icon>
          Follow
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
