<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user">
      {{ user.username }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="user?.avatar">
      <img [src]="user.avatar">
  </ion-card>

  <ion-card *ngIf="user">
        <ion-item text-wrap> {{ user.username }}
         <ion-note item-right>
           Username
         </ion-note> 
        </ion-item>
        <ion-item text-wrap><ion-icon secondary item-left name="person"></ion-icon>{{ user.name }}</ion-item>
        <ion-item text-wrap><ion-icon secondary item-left name="mail"></ion-icon>{{ user.email }}</ion-item>
        <ion-item text-wrap *ngIf="user"><ion-icon secondary item-left name="create"></ion-icon><p>{{ user.about }}</p></ion-item>
        <div padding *ngIf="!isFollowed()">
            <button ion-button block color="primary" (click)="followUser(user)">Follow</button>
        </div>
        <div padding *ngIf="isFollowed()">
            <button ion-button block color="secondary" (click)="unFollowUser(user)">Following</button>
        </div>
  </ion-card>
</ion-content>
